.login-section {
	background-color: #f5f5f5;
	margin-top: 80px;

	.section-heading {
		color: #373737;
		font-weight: 400;
	}

    .form {
		padding: 40px 80px;
	    border-radius: 4px;
	    background: #fff;
	    border: 1px solid #ededed;

		.form-group {
			margin-bottom: 0;
		}

		.inputText {
			width: 100%!important;
			text-align: left;

			label {
				font-weight: normal;
			}

			div {
				hr:last-of-type {
					border-bottom: 1px solid rgb(0, 150, 136)!important;
				}
			}
		}

		.label-text {
			margin-top: 20px;
			text-align: justify;
		}

		.checkBox {
			text-align: left;
			margin-top: 30px;
			width: 100%;

			label {
				color: #696f6f!important;
				font-weight: normal;
			}
		}

		.btn-login {
			margin-top: 30px;
			font-weight: 600;
			color: #fff;
			background: linear-gradient(180deg, $primary-color, #00cfbc);
			width: 100%;
			font-size: 20px;
			height: 50px;

			&:hover {
				background: $primary-color;
			}
		}

		.help-block {
			text-align: left;
			position: relative;
		    bottom: 15px;
			margin-bottom: 0;
		    font-size: 12px;
		    color: rgb(244, 67, 54);
		    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		}

		.btn-link {
			color: $primary-color;
			margin-top: 10px;
			font-weight: 600;
			font-size: 16px;
		}
	}
}
